/* HEADER ------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* estilização padrão */

body {
    background-color: #fbdacb;
}

nav {
    background-color: #af8576;
    padding: 10px;
    display: flex;
    justify-content: center;
    /* display para conseguir colocar o justify e o center para alinhar os elementos no meio do eixo principal */
    width: 98.3%;
    gap: 80px;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #fd99a2;

}



@media (min-width:767px) and (max-width:1200px) {

    /* tablet */
    nav {
        background-color: #af8576;
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;
        font-family: 'Roboto Slab', serif;
    }

}


@media (max-width:767px) {

    /* celular */
    nav {
        background-color: #af8576;
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 30px;
        font-family: 'Roboto Slab', serif;
        font-size: small;
    }


}



/* MAIN ------------------------------------------------------- */
/* SECTION 1 -------------------------------------------------- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* column pra rodar no geral em vertical (sentido barra de rolagem) */
    font-family: 'Roboto Slab', serif;
}

.section1_sobre_mim {
    display: flex;
    flex-direction: row;
    /* row pro texto e a imagem ficarem lado a lado */
}

.left {
    color: #65322a;
    padding: 15px 12px;
    width: 65%;
    /* 65% pro resto ser imagem e conseguir colocar os dois lado a lado */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* gap pra separar da img */
}

.right {
    border: 4px solid #65322a;
    border-radius: 40px;
    /* borda arrendondada */
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

@media (min-width:767px) and (max-width:1200px) {

    /* tablet */
    .left {
        color: #65322a;
        padding: 15px 12px;
        width: 65%;
        display: flex;
        flex-direction: column;
        font-size: small;
        gap: 20px;
    }

    .right {
        border: 4px solid #65322a;
        border-radius: 40px;
        /* borda arrendondada */
        margin: 20px;
        width: 200px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:767px) {

    /* celular */
    .left {
        color: #65322a;
        padding: 15px 12px;
        width: 65%;
        display: flex;
        flex-direction: column;
        font-size: small;
        gap: 25px;
    }

    .right {
        border: 4px solid #65322a;
        border-radius: 40px;
        /* borda arrendondada */
        margin: 20px;
        width: 150px;
        display: flex;
        flex-direction: column;
    }
}


/* SECTION 2 ------------------------------------------------------------------------- */

.section2_hobbies, section {

    display: flex;
    flex-direction: column;
    color: #65322a;
    margin: 20px;
    width: 95%;
    gap: 20px;
}

.img_hobbies {
    border: 4px solid #65322a;
    border-radius: 40px;
    align-itens: center; 
    margin: 20px;
    gap: 30px;
    width: 25%;
    height: 40%;
    /* img se comporta como se tivesse em linha, pois estilizando juntas, com gap e width baixo em porcentagem, ela fica no tamanho que quero e em linha, sem precisar aplicar display */
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

@media (min-width:767px) and (max-width:1200px) {

    .section2_hobbies {

        display: flex;
        flex-direction: column;
        font-size: small;
        color: #65322a;
        margin: 15px;
        width: 95%;
        gap: 15px;
    }

    .img_hobbies {
        border: 4px solid #65322a;
        border-radius: 40px;
        margin: 20px;
        gap: 30px;
        width: 15%;
        height: 30%;
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
}

@media (max-width:767px) {
    .section2_hobbies {

        display: flex;
        flex-direction: column;
        font-size: small;
        color: #65322a;
        margin: 20px;
        width: 95%;
        gap: 20px;
    }

    .img_hobbies {
        border: 4px solid #65322a;
        border-radius: 40px;
        margin: 20px;
        gap: 30px;
        width: 15%;
        height: 30%;
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
}





/* SECTION 3 FORMULÁRIO ---------------------------------------------------------------- */

fieldset {
    color: #65322a;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 15px;
}

textarea {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* coloquei row e witdh 100% paran precisar estilizar direto no html e ser mais fácil responsivamente */
    height: 100px;
}

button {
    color: #65322a;
    background-color: #cfb0a5;

}

@media (min-width:767px) and (max-width:1200px) {
    fieldset {
        color: #65322a;
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 15px;
        font-size: small;
    }

    textarea {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
    }

    button {
        color: #65322a;
        background-color: #cfb0a5;
    }
}


@media (max-width:767px) {
    fieldset {
        color: #65322a;
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 15px;
        font-size: small;
    }

    textarea {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
    }

    button {
        color: #65322a;
        background-color: #cfb0a5;

    }
}


/* FOOTER ------------------------------------------------------------ */

footer {
    color: #65322a;
    margin: 20px;
}
